<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>M-Cars</title>
<link href="static/CSS/Car_Page_Stylesheet.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<html>
  <head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
  </head>
  <body>
    <header>
      <nav>
          <ul class="navigation">
          <li><a href="{{ url_for('index') }}"><span>Home</span></a></li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Car Pages</a>
              <div class="dropdown-content">
                  <a href="{{ url_for('classic_bimmers') }}">Classic Bimmers</a>
                  <a href="{{ url_for('mcars') }}">M-Cars</a>
                  <a href="{{ url_for('barely_driven') }}">Barely Driven</a>
                  <a href="{{ url_for('swedish_steel') }}">Swedish Steel</a>
                  <a href="{{ url_for('miata_hunter') }}">Miata Hunter</a>
              </div>
          </li>
          <li><a href="{{ url_for('about') }}"><span>About</span></a></li>
          <li><a href="#"><span>Resume</span></a></li>
          </ul>
      </nav>
    </header>

      <!-- Main Container -->
      <div class="container"> 
          <!-- Header -->
          <section class="intro">
              <div><h4 class="logo">Visit the Car Pages in the menu at the top</h4></div>
          </section>
      </div>
      <!-- Main Container Ends -->
    <!-- Footer Section -->
    <footer id="contact">
        <p class="hero_header">GET IN TOUCH WITH ME</p>
        <div class="button">EMAIL ME </div>
    </footer>
    <!-- Copyrights Section -->
    <div class="copyright">&copy;2020 - <strong>The Auto Pursuit</strong></div>
  </body>
</html>


