<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Miata Hunter</title>
<link href="static/CSS/Car_Page_Stylesheet.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
    {% extends "template.html" %} 
    {% block content %}
    <!-- Main Container -->
    <div class="container"> 
        <!-- Header -->
        <section class="intro">
            <div class="column"><h4 class="logo">Miata Hunter</h4></div>
        </section>
        <!-- Stats Gallery Section -->
        <div class="gallery">
            {% for key,cars_dict_item in cars.items() %}
            <div class="thumbnail"> <a href="#"><img src={{ cars_dict_item['image'] }} alt="" width="2000" class="cards"/></a>
                <h4>{{ cars_dict_item['title'] }}</h4>
                <p class="tag"><a href={{ cars_dict_item['link'] }}>Link To Ad</a></p>
                <p class="text_column">Price: {{ cars_dict_item['price'] }}<br>
                Location: {{ cars_dict_item['where'] }}<br>
                Post Date: {{ cars_dict_item['post_date'] }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Main Container Ends -->
    {% endblock %}
</body>
</html>
