<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Flask Parent Template</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo"> The Auto Pursuit</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('index') }}">Index</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('classic_bimmers') }}">Classic Bimmers</a></li>
                        <li><a href="{{ url_for('mcars') }}">M-Cars</a></li>
                        <li><a href="{{ url_for('barely_driven') }}">Barely Driven</a></li>
                        <li><a href="{{ url_for('swedish_steel') }}">Swedish Steel</a></li>
                        <li><a href="{{ url_for('miata_hunter') }}">Miata Hunter</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>